@import './radix-ui.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin-block: 0;
}

h1.secondaryTitle {
  color: var(--red-6);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: 520px) {
    font-size: 37px;
  }

  @media (max-width: 375px) {
    font-size: 33px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: 520px) {
    font-size: 34px;
  }

  @media (max-width: 375px) {
    font-size: 33px;
  }

  @media (max-width: 320px) {
    font-size: 29px;
  }
}

.rt-ContainerInner {
  @media (max-width: 1280px) {
    padding-inline: var(--space-6);
  }

  @media (max-width: 520px) {
    padding-inline: var(--space-4);
  }

  @media (max-width: 320px) {
    padding-inline: var(--space-2);
  }
}
