@import '@radix-ui/themes/styles.css';

.rt-Button {
  font-weight: 600;
}

div[data-radix-popper-content-wrapper] {
  pointer-events: none;
}

:root,
.radix-themes {
  --color-background: #fff9ee;
  --heading-font-family: var(--fraunces);
  --cursor-button: pointer;
}

:root {
  --red-1: #f8f6f5;
  --red-2: #fbefeb;
  --red-3: #ffe3da;
  --red-4: #ffcdba;
  --red-5: #ffbea6;
  --red-6: #ff886c;
  --red-7: #f39f85;
  --red-8: #e78769;
  --red-9: #f16437;
  --red-10: #e45626;
  --red-11: #c8420e;
  --red-12: #582d20;

  --red-a1: #eef2ff69;
  --red-a2: #a312a90b;
  --red-a3: #ff051017;
  --red-a4: #ff310238;
  --red-a5: #ff39034e;
  --red-a6: #ff36025e;
  --red-a7: #e42e0171;
  --red-a8: #d52e008f;
  --red-a9: #ed3801c5;
  --red-a10: #df3801d7;
  --red-a11: #c53600f0;
  --red-a12: #3e0e00dd;

  --red-contrast: #fff;
  --red-surface: #faeceacc;
  --red-indicator: #f16437;
  --red-track: #f16437;
}

:root {
  --gray-1: #f6f7f9;
  --gray-2: #eff3f8;
  --gray-3: #e4ecf6;
  --gray-4: #d5e5f8;
  --gray-5: #c3dbf7;
  --gray-6: #afcdf2;
  --gray-7: #96bce9;
  --gray-8: #71a4e0;
  --gray-9: #0b3159;
  --gray-10: #20456e;
  --gray-11: #396aa2;
  --gray-12: #0e335c;

  --gray-a1: #f2f6ffa5;
  --gray-a2: #e4efff96;
  --gray-a3: #c6deff78;
  --gray-a4: #b8d7ff96;
  --gray-a5: #8ec1ff87;
  --gray-a6: #003fff3c;
  --gray-a7: #0065e269;
  --gray-a8: #0061d58e;
  --gray-a9: #002853f4;
  --gray-a10: #002c5cdf;
  --gray-a11: #00418dc6;
  --gray-a12: #002754f1;

  --gray-contrast: #fff;
  --gray-surface: #ebf2facc;
  --gray-indicator: #0b3159;
  --gray-track: #0b3159;
}
