@import '@radix-ui/themes/styles.css';

.rt-Button {
  font-weight: 600;
}

div[data-radix-popper-content-wrapper] {
  pointer-events: none;
}

:root,
.radix-themes {
  --color-background: #fff9ee;
  --heading-font-family: var(--fraunces);
  --cursor-button: pointer;
}

:root {
  --red-1: #f8f6f5;
  --red-2: #fbefeb;
  --red-3: #ffe3da;
  --red-4: #ffcdba;
  --red-5: #ffbea6;
  --red-6: #ffb197;
  --red-7: #f39f85;
  --red-8: #e78769;
  --red-9: #f16437;
  --red-10: #e45626;
  --red-11: #c8420e;
  --red-12: #582d20;

  --red-a1: #eef2ff69;
  --red-a2: #a312a90b;
  --red-a3: #ff051017;
  --red-a4: #ff310238;
  --red-a5: #ff39034e;
  --red-a6: #ff36025e;
  --red-a7: #e42e0171;
  --red-a8: #d52e008f;
  --red-a9: #ed3801c5;
  --red-a10: #df3801d7;
  --red-a11: #c53600f0;
  --red-a12: #3e0e00dd;

  --red-contrast: #fff;
  --red-surface: #faeceacc;
  --red-indicator: #f16437;
  --red-track: #f16437;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --red-1: oklch(97.5% 0.0026 37.73);
      --red-2: oklch(96% 0.0143 37.73);
      --red-3: oklch(93.7% 0.0343 37.73);
      --red-4: oklch(89.9% 0.0757 37.73);
      --red-5: oklch(86.8% 0.0998 37.73);
      --red-6: oklch(83.3% 0.1037 37.73);
      --red-7: oklch(78% 0.107 37.73);
      --red-8: oklch(71.9% 0.1261 37.73);
      --red-9: oklch(67.5% 0.1838 37.73);
      --red-10: oklch(63.6% 0.187 37.73);
      --red-11: oklch(56.5% 0.1794 37.73);
      --red-12: oklch(35% 0.0666 37.73);

      --red-a1: color(display-p3 0.9333 0.9451 1 / 0.375);
      --red-a2: color(display-p3 0.5216 0.0235 0.651 / 0.041);
      --red-a3: color(display-p3 0.8118 0.0078 0.0157 / 0.085);
      --red-a4: color(display-p3 0.8667 0.1922 0.0039 / 0.21);
      --red-a5: color(display-p3 0.8745 0.2196 0.0039 / 0.289);
      --red-a6: color(display-p3 0.8824 0.2 0.0039 / 0.348);
      --red-a7: color(display-p3 0.7804 0.1804 0.0039 / 0.423);
      --red-a8: color(display-p3 0.7333 0.1765 0 / 0.536);
      --red-a9: color(display-p3 0.8314 0.2039 0 / 0.712);
      --red-a10: color(display-p3 0.7804 0.2 0 / 0.77);
      --red-a11: color(display-p3 0.6784 0.1804 0 / 0.85);
      --red-a12: color(display-p3 0.2078 0.051 0 / 0.854);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9725 0.9255 0.9216 / 0.8);
      --red-indicator: oklch(67.5% 0.1838 37.73);
      --red-track: oklch(67.5% 0.1838 37.73);
    }
  }
}

:root {
  --gray-1: #f6f7f9;
  --gray-2: #eff3f8;
  --gray-3: #e4ecf6;
  --gray-4: #d5e5f8;
  --gray-5: #c3dbf7;
  --gray-6: #afcdf2;
  --gray-7: #96bce9;
  --gray-8: #71a4e0;
  --gray-9: #0b3159;
  --gray-10: #20456e;
  --gray-11: #396aa2;
  --gray-12: #0e335c;

  --gray-a1: #f2f6ffa5;
  --gray-a2: #e4efff96;
  --gray-a3: #c6deff78;
  --gray-a4: #b8d7ff96;
  --gray-a5: #8ec1ff87;
  --gray-a6: #003fff3c;
  --gray-a7: #0065e269;
  --gray-a8: #0061d58e;
  --gray-a9: #002853f4;
  --gray-a10: #002c5cdf;
  --gray-a11: #00418dc6;
  --gray-a12: #002754f1;

  --gray-contrast: #fff;
  --gray-surface: #ebf2facc;
  --gray-indicator: #0b3159;
  --gray-track: #0b3159;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --gray-1: oklch(97.6% 0.0023 253.2);
      --gray-2: oklch(96.3% 0.0079 253.2);
      --gray-3: oklch(94% 0.0164 253.2);
      --gray-4: oklch(91.5% 0.0314 253.2);
      --gray-5: oklch(88.2% 0.0461 253.2);
      --gray-6: oklch(83.9% 0.0608 253.2);
      --gray-7: oklch(78.3% 0.0769 253.2);
      --gray-8: oklch(70.7% 0.1037 253.2);
      --gray-9: oklch(31.1% 0.083 253.2);
      --gray-10: oklch(38.4% 0.083 253.2);
      --gray-11: oklch(51.6% 0.1037 253.2);
      --gray-12: oklch(32% 0.083 253.2);

      --gray-a1: color(display-p3 0.949 0.9647 1 / 0.625);
      --gray-a2: color(display-p3 0.8863 0.9294 0.9961 / 0.5);
      --gray-a3: color(display-p3 0.7373 0.8431 1 / 0.375);
      --gray-a4: color(display-p3 0.6588 0.7922 1 / 0.438);
      --gray-a5: color(display-p3 0.3216 0.5882 1 / 0.313);
      --gray-a6: color(display-p3 0.0039 0.3647 0.9412 / 0.288);
      --gray-a7: color(display-p3 0.0039 0.3333 0.8314 / 0.378);
      --gray-a8: color(display-p3 0 0.3176 0.7843 / 0.512);
      --gray-a9: color(display-p3 0 0.1176 0.2784 / 0.914);
      --gray-a10: color(display-p3 0 0.1294 0.3216 / 0.839);
      --gray-a11: color(display-p3 0 0.2039 0.502 / 0.729);
      --gray-a12: color(display-p3 0 0.1137 0.2863 / 0.902);

      --gray-contrast: #fff;
      --gray-surface: color(display-p3 0.9294 0.949 0.9804 / 0.8);
      --gray-indicator: oklch(31.1% 0.083 253.2);
      --gray-track: oklch(31.1% 0.083 253.2);
    }
  }
}
