.container :global(.rt-ContainerInner) {
    position: relative;
    min-height: 100vh;
}

.blob {
    background-image: url('/bg_blob.png');
    background-size: 80% auto;
    background-position: right top;
    background-repeat: no-repeat;

    position: absolute;
    inset: 0;
    z-index: -1;

    transform: scaleX(-1);
}

.header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    inset-block-start: var(--space-4);
    inset-inline-end: 0;
    margin-block-start: 50px;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    padding: var(--space-1);
    padding-inline-start: var(--space-4);
    margin-inline-end: calc(var(--space-4) * -1);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        backdrop-filter: blur(10px);
        background-color: #fff9eec4;
        border-radius: 9999px;
        overflow: hidden;
    }
}

.logo {
    margin-block-start: -48px;
    width: 100px;
    height: 100px;
    white-space: nowrap;
    border-radius: 50%;
    background-color: var(--gray-12);
}
