.container > div {
  position: relative;
  min-height: 100vh;
  width: auto;

  @media (max-width: 1280px) {
    padding-inline: var(--space-6);
  }
}

.blob {
  background-image: var(--bg_blob);
  background-size: 78%;
  background-position: 0 0;
  background-repeat: no-repeat;

  position: absolute;
  z-index: -1;
  inset: 0;
  inset-block-start: -240px;
  inset-inline-start: -90px;

  @media (max-width: 1024px) {
    inset-block-start: -160px;
    inset-inline-start: -70px;
  }

  @media (max-width: 768px) {
    background-size: 120%;
    inset-block-start: -80px;
    inset-inline-start: -100px;
  }

  @media (max-width: 520px) {
    background-size: 165%;
    inset-block-start: -160px;
    inset-inline-start: -190px;
    opacity: 0.6;
  }
}
