.root {
  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.root section h1 {
  margin-block-end: var(--space-4);
  text-align: center;

  &:global(.secondaryTitle) {
    text-align: start;
  }
}

.boosterGuide {
  padding-block-end: 0;
}
