.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;

  --color-surface: #fee7d3;
  --gray-a7: var(--accent-a7);
  --gray-a8: var(--accent-a8);
  --gray-12: var(--accent-12);

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
  }
}

.form fieldset {
  border: 0;
  padding: 0;
}

.form legend {
  margin-bottom: 10px;
  color: #3240a6;
  font-size: 12px;
  font-style: italic;
}

.error {
  font-size: 12px;
  color: #ff4d4f;
  margin-bottom: 10px;
}

.button {
  padding-inline: 30px;
}

.iframe {
  border: 0;
  width: 310px;
  height: 153px;
}

.textarea {
  grid-column: 1 / -1;
}

.root input::placeholder,
.root textarea::placeholder,
.root :global(.rt-SelectTrigger)[data-placeholder] :global(.rt-SelectTriggerInner) {
  color: #ff7d53;
}

.root :global(.rt-SelectIcon) {
  display: none;
}

.root input,
.root button {
  --select-trigger-height: var(--space-8);
}

.select {
  position: relative;

  button {
    width: 100%;
  }

  select {
    inset: 0;
    height: 100% !important;
    width: 100% !important;
    opacity: 0;
    pointer-events: none;
    clip: auto !important;
  }
}

.blob {
  background-image: url('/bg_blob_contact.webp');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 130%;

  position: absolute;
  z-index: -1;
  inset: auto 0 0 50%;
  height: 750px;
  pointer-events: none;
  opacity: 0.8;

  @media (max-width: 1024px) {
    height: 660px;
  }

  @media (max-width: 820px) {
    inset-inline-start: 10%;
    background-size: 170%;
  }

  @media (max-width: 520px) {
    height: 100vh;
    background-size: 300%;
  }
}

/* honeypot field */
.address {
  position: absolute !important;
  left: -9999px !important;
  top: -9999px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}
