.root {
  backdrop-filter: blur(100px);
}

.root nav {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0000000f;
  padding-block: 2rem;

  &,
  a,
  svg {
    color: var(--gray-9);
  }
}

.root nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
}

.root :global(.rt-Separator) {
  background-color: #0000008f;
  width: 2px;
}

.icon {
  width: 24px;
  height: 24px;

  &.instagramIcon {
    width: 26px;
    height: 26px;
  }
}
